:root {
  --container-width: 1440px;
  --background-color: #fffff6;
  --text-primary-color: #010101;
  --text-secondary-color: #272E22;
  --primary-bg-color: #eceadd;
  --border-color: #e5604c;
  --card-hover-bg-color: #F6D2C1;
}

@font-face {
  font-family: 'Instrument Sans';
  src: url('/assets/fonts/Instrument-Sans/InstrumentSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Instrument Sans';
  src: url('/assets/fonts/Instrument-Sans/InstrumentSans-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Instrument Sans';
  src: url('/assets/fonts/Instrument-Sans/InstrumentSans-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'CircularXX';
  src: url('/assets/fonts/Instrument-Sans/InstrumentSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Reckless Neue';
  src: url('/assets/fonts/Reckless-Neue/RecklessNeue-Regular.woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Reckless Neue';
  src: url('/assets/fonts/Reckless-Neue/RecklessNeue-Medium.woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Reckless Neue';
  src: url('/assets/fonts/Reckless-Neue/RecklessNeue-SemiBold.woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Reckless Neue';
  src: url('/assets/fonts/Reckless-Neue/RecklessNeue-Bold.woff2');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Area Variable';
  src: url('/assets/fonts/Area-variable/Area-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Reckless Neue';
  src: url('/assets/fonts/Area-variable/Area-Medium.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Reckless Neue';
  src: url('/assets/fonts/Area-variable/Area-Semibold.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Reckless Neue';
  src: url('/assets/fonts/Area-variable/Area-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Instrument Sans';
  color: var(--text-secondary-color);
}

body {
  overflow-x: hidden;
  background-color: var(--background-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.main-btn {
  padding: 8px 30px;
  font-family: Instrument Sans;
  font-weight: 700;
  font-size: 13px;
  line-height: 13px;
  letter-spacing: 0.65px;
  text-transform: uppercase;
  border: 1px solid var(--border-color);
  border-radius: 100px;
  color: var(--text-primary-color);
}

.main-btn:hover {
  background-color: var(--text-primary-color);
  border: none;
  color: white;
}
