.hero-section {
  position: relative;
  width: 100%;
  height: 713px;
  margin: 0 auto;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section .swiper {
  width: 100%;
  height: 100%;
}

.hero-section .swiper-pagination {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  z-index: 2;
}

.hero-section .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.7;
  transition: all 0.3s ease;
}

.hero-section .swiper-pagination-bullet-active {
  background: #e5604c;
  opacity: 1;
  transform: scale(1.2);
}

.hero-section .swiper-slide {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section .video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.hero-section-content {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 48px;
}

.hero-section-content h1 {
  font-family: Reckless Neue;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  letter-spacing: -0.64px;
  text-align: center;
  color: #fffff7;
}

@media screen and (max-width: 1024px) {
  .hero-section-content h1 {
    font-weight: 400;
    font-size: 42px;
    line-height: 46px;
    letter-spacing: -0.42px;
    padding: 0 36px;
  }
}

@media screen and (max-width: 425px) {
  .hero-section {
    width: 100%;
    min-height: 600px;
    max-height: 600px;
  }

  .hero-section-content h1 {
    width: 100%;
  }

  .hero-section-content button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
  }
}
