.marquee-section {
  background-color: var(--primary-bg-color);
  padding: 46px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marquee-slider {
  overflow: hidden;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marquee-track {
  display: flex;
  gap: 113px;
  align-items: center;
  width: max-content;
  position: relative;
  left: 0;
}


@media screen and (max-width: 768px) {

  .marquee-section {
  padding: 40px 0;
}

  .marquee-track {
    gap: 53px;
  }
}